xanerde/updatePProd/update.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="UpdateRequest">
        <s:complexType>
          <s:sequence>
            <!-- args - packingName,packingDesc,packingPrice,packingId -->
            <s:element minOccurs="0" maxOccurs="1" name="packingName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="packingDesc" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="packingPrice" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="packingId" type="s:int"/>

          </s:sequence>
        </s:complexType>
      
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <!-- ********************************************************************************* -->
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateRequest"/>
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse"/>
  </wsdl:message>

  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
<!-- ************************************************************************************************* -->
  <wsdl:portType name="UpdateSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn"/>
      <wsdl:output message="tns:UpdateSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>


  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <!-- ************************************************************************************************* -->
  <wsdl:binding name="UpdateServiceSoapBinding" type="tns:UpdateSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Update">
      <soap:operation soapAction="Update" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:binding name="UpdateServiceSoap12Binding" type="tns:UpdateSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="Update" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>


  <!-- SERVICE:  -->
  <wsdl:service name="UpdateService">
    <wsdl:port name="UpdateSoapPort" binding="tns:UpdateServiceSoapBinding">
      <soap:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
    <wsdl:port name="UpdateSoap12Port" binding="tns:UpdateServiceSoap12Binding">
      <soap12:address location="http://localhost:8000/wsdl"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>