xanerde/addPackingProd/addPPlist.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- <definitions> must be the root of the WSDL document -->
<wsdl:definitions targetNamespace="http://tempuri.org/" 
  xmlns:s="http://www.w3.org/2001/XMLSchema" 
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
  xmlns:tns="http://tempuri.org/" 
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" 
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <!-- WSDL TYPES: definition of the data types that are used in the web service -->
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddPPlistRequest">
        <s:complexType>
          <s:sequence>
            <!-- args - PackingListID, PackingProductsID, PackingName, PackingPrice, PackingDetails -->
            <s:element minOccurs="0" maxOccurs="1" name="PackingListID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="PackingProductsID" type="s:int"/>
            <s:element minOccurs="0" maxOccurs="1" name="PackingName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PackingPrice" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PackingDetails" type="s:string"/>
          </s:sequence>
        </s:complexType>
      
      </s:element>
      <s:element name="AddPPlistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>

  <!-- MESSAGES: defines the data being exchanged between the service and client -->
  <!-- ********************************************************************************* -->
  <wsdl:message name="AddPPlistSoapIn">
    <wsdl:part name="parameters" element="tns:AddPPlistRequest"/>
  </wsdl:message>
  <wsdl:message name="AddPPlistSoapOut">
    <wsdl:part name="parameters" element="tns:AddPPlistResponse"/>
  </wsdl:message>

  <!-- PORT TYPES: defines the complete communication operation (one way/round trip) -->
<!-- ************************************************************************************************* -->
  <wsdl:portType name="AddPPlistSoapPort">
    <!-- The operation name must be the same as the one specified in the service object -->
    <wsdl:operation name="AddPPlist">
      <wsdl:input message="tns:AddPPlistSoapIn"/>
      <wsdl:output message="tns:AddPPlistSoapOut"/>
    </wsdl:operation>
  </wsdl:portType>


  <!-- BINDING: provides details on how a portType operation will actually be transmitted -->
  <!-- ************************************************************************************************* -->
  <wsdl:binding name="AddPPlistServiceSoapBinding" type="tns:AddPPlistSoapPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddPPlist">
      <soap:operation soapAction="AddPPlist" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:binding name="AddPPlistServiceSoap12Binding" type="tns:AddPPlistSoapPort">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AddPPlist">
      <soap12:operation soapAction="AddPPlist" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>


  <!-- SERVICE:  -->
  <wsdl:service name="AddPPlistService">
    <wsdl:port name="AddPPlistSoapPort" binding="tns:AddPPlistServiceSoapBinding">
      <soap:address location="http://localhost:8004/wsdl"/>
    </wsdl:port>
    <wsdl:port name="AddPPlistSoap12Port" binding="tns:AddPPlistServiceSoap12Binding">
      <soap12:address location="http://localhost:8004/wsdl"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>